#### Getting Data

In [154]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [155]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [156]:
df.isnull().sum()

Postcode         0
Borough          0
Neighbourhood    0
dtype: int64

In [157]:
df.shape

(288, 3)

#### Removing Borough where Not assigned

In [158]:
df=df[df['Borough']!='Not assigned']

In [159]:
df=df.reset_index()

In [160]:
df.head()

   index Postcode           Borough     Neighbourhood
0      2      M3A        North York         Parkwoods
1      3      M4A        North York  Victoria Village
2      4      M5A  Downtown Toronto      Harbourfront
3      5      M5A  Downtown Toronto       Regent Park
4      6      M6A        North York  Lawrence Heights

In [161]:
df=df[['Postcode','Borough','Neighbourhood']]

In [162]:
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

#### Making data in the asked form

In [163]:
df=df.groupby(['Postcode','Borough'], sort = False).agg(lambda x: ','.join(x))

In [164]:
df.head()

                                             Neighbourhood
Postcode Borough
M3A      North York                              Parkwoods
M4A      North York                       Victoria Village
M5A      Downtown Toronto         Harbourfront,Regent Park
M6A      North York        Lawrence Heights,Lawrence Manor
M7A      Queen's Park                         Not assigned

In [165]:
df=df.reset_index()

In [166]:
df.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

#### make data into required form

In [167]:
for i,j in df.iterrows():
    if(df.loc[i,'Neighbourhood']=='Not assigned'):
        df.loc[i,'Neighbourhood']=df.loc[i,'Borough']

In [168]:
df.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

In [169]:
df.shape

(103, 3)